.main_container{
  background-color: rgb(230, 216, 107);	
}   
.title{
  display: flex;
justify-content: center;}

.container {
    padding: 50px;
    display: flex;
    background-color: aquamarine;
  }
  
  .item {
    flex: 1;
  }
  
  .table {
    width: 100%;
    border-spacing: 20px;
    text-align: left;
  }
  
  .button {
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
  }
  
 
  
  .button:last-child {
    background-color:rgb(239, 220, 55);	
    margin-right: 10px;  
  color: black;
  }
th, td, tr{
  text-align: left;
}
