#menu,
#menu *:not(::before):not(::after) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  background-image: url('../../assets/images/pattern.png');

}



#menu html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
    #menu html{
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
 .menu html{
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
       .menu html {
    zoom: 2.5;
  }
}

.menu::-webkit-scrollbar {
  width: 1.3rem;
}

.menu::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

.menu::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

.menu::-webkit-scrollbar-track {
  background: #f9f9f9;
}

/* body  {
  font-size: 1.6rem;
  background-image: url('../../assets/images/pattern.png');
  */
/* } */

.menu__container {
  max-width: 104rem;
  padding: 1rem 0rem;
  margin: 0 auto;
  background-image: url('../../assets/images/pattern.png');
  overflow-x: hidden;
  height: 100vh;

}

.laduree__heading {
  top:1px;
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align:center;
  color:#DCCA87 ;
  text-decoration:underline;
}

.swiper_container {
  height: 52rem;
  padding: 0rem 4rem;
  position: relative;
}

.swiper-slide {
  width: 35rem;
  height: 40rem;
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;


  }
}

.swiper-slide img {
  width: 35rem;
  height: 40rem;
  border-radius: 2rem;
  object-fit: cover;
  box-sizing: border-box;
  border: 4px solid #DCCA87;
  overflow: hidden;
  

}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 65% !important;
  transform: translateX(-65%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}
.slider-controler .swiper-button-prev {
  left: 36% !important;
  transform: translateX(-36%) !important;
}
@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background:#DCCA87 ;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 25rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background:#d2ab1c;
}

meal_item {
  position: relative;
}

.meal-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
 

}

.meal-info h3{
  font-family:'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #f6f4ee;
  text-shadow: .5px .6px .7px #0b0a03;



}
.meal-info.visible {
  visibility: visible;
  font-size: 40px;
  text-align: center;
  transform: translateY(6.9%);
  margin-bottom: 1rem;

  overflow: hidden;
  font-family:'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .9px;
  color: #f6f4ee;
  text-shadow: .5px .6px .7px #0b0a03;  
  background-color: #dcca875e ;

  width: 100%;  /* other styles */

  border-radius: 2rem

}
.main__menu__btn img{
  width: 45px;
  height: 45px;
  margin-bottom: 1rem;
  margin-right: 3rem;

 }
.main__menu__btn{
  background:transparent;
  border: 1px solid rgb(222, 160, 14) ;
  padding: 7px 25px;
  margin-left: 25px;
  border-radius: 50px;
  cursor: pointer;
  width: 6rem;
  height: 4rem;
}
.menu__active__btn{
  background-color: transparent;
  box-shadow: 0px 10px 10px 0 rgb(225, 213, 176);	
}
.top-right {
  display: flex;
  flex-direction:row-reverse;
  align-items:end;
  justify-content:center;
  gap: 10px; /* adjust as needed */
}
.top-right > button {
  margin-bottom: 10px; /* adjust as needed */
}
